<section class="parteners">

  <div class="parteners__wrapper">
    <div class="parteners__item"><img src="img/content/case_Forex4you.jpg"></div>
    <div class="parteners__item"><img src="img/content/case_guide.jpg"></div>
    <div class="parteners__item"><img src="img/content/case_Tinkoff.jpg"></div>
    <div class="parteners__item"><img src="img/content/case_Forex4you.jpg"></div>
    <div class="parteners__item"><img src="img/content/case_guide.jpg"></div>
    <div class="parteners__item"><img src="img/content/case_Tinkoff.jpg"></div>
  </div>


</section>
