body {
  font-weight: 400;
  font-size: 20px;
  line-height:25px;
  background-color: $background-color;
  color: $text-color;
  font-family: 'Montserrat-regular';
}

span,p,a {
  color: $text-color;
}


img {
  max-width: 100%;
  height: auto;
}
