<section class="types-robots" id="types-robots">
  <div class="container">
    <h2 class="types-robots__title">Виды торговых роботов Форекс</h2>

    <div class="types-robots__box-content">
    <img class="types-robots__robot-image" src="img/content/smart-robot1.png">


    <div class="types-robots__text-wrapper">

      <h2 class="types-robots__robot-title">ALFA BOT SMART</h2>
      <p class="types-robots__short-description">Работает на 12 валютных парах</p>


      <p class="types-robots__text">Плавно заводит все валютные пары на рынок</p>
      <p class="types-robots__text">Автоматически включает плавную остановку при присадке более 20% и запускает торговлю
        обратно при снижении просадки до 15%</p>
      <p class="types-robots__text">Подстраивает мани менеджмент под размер депозита</p>
      <p class="types-robots__text">Работает с любым брокером</p>


    </div>

    <div class="types-robots__links-wrapper">
      <button class="btn btn--mobile">Подробнее о ALFA BOT SMART</button>
      <a href="#" class="types-robots__feedbacklink">Связаться с нами</a>
    </div>

</div>





<div class="types-robots__box-content  types-robots__box-content--reverse">
  <img class="types-robots__robot-image" src="img/content/smart-robot2.png">


  <div class="types-robots__text-wrapper">

    <h2 class="types-robots__robot-title">ALFA BOT UP1</h2>
    <p class="types-robots__short-description">Полностью автономный</p>


    <p class="types-robots__text">За счет ультраконсервативных настроек Советник стабильно зарабатывает от 5-20% ежемесячно</p>
    <p class="types-robots__text">Заработок советника происходит ежедневно</p>
    <p class="types-robots__text">Депозит в долларах, а это значит что вы можете дополнительно заработать на курсе доллар/рубль</p>
    <p class="types-robots__text">Вывод денег на карту в любое время и любую сумму</p>


  </div>

  <div class="types-robots__links-wrapper">
    <button class="btn btn--mobile">Подробнее о ALFA BOT FAST</button>
    <a href="#" class="types-robots__feedbacklink">Связаться с нами</a>
  </div>

</div>


<div class="types-robots__box-content">
  <img class="types-robots__robot-image" src="img/content/smart-robot3.png">


  <div class="types-robots__text-wrapper">

    <h2 class="types-robots__robot-title">ALFA BOT FAST</h2>
    <p class="types-robots__short-description">Работает только в направлении глобального тренда.</p>


    <p class="types-robots__text">4 стратегии определения глобального тренда</p>
    <p class="types-robots__text">Используется самая эффективная на данный момент на рынке стратегия — (авторская) сетка усреднения</p>
    <p class="types-robots__text">Открывает сделки усреднения в момент разворота цены</p>
    <p class="types-robots__text">Минимальные риски за счет трендовой торговли и аккуратного усреднения</p>


  </div>

  <div class="types-robots__links-wrapper">
    <button class="btn btn--mobile">Подробнее о ALFA BOT FAST</button>
    <a href="#" class="types-robots__feedbacklink">Связаться с нами</a>
  </div>

</div>



  </div>
</section>
