<section class="what-is">
  <div class="container">
    <div class="what-is__wrapper">
      <h2 class="what-is__title" >Что такое рынок  Форекс? </h2>
      <div class="what-is__box">
        <div class="what-is__box-textcontent">


        <p class="what-is__text">Forex — это всемирный валютный рынок, на котором осуществляются сделки по покупке и продаже валют с целью получения прибыли благодаря изменению курса валют.</p>
        <p class="what-is__text">В 2019 году ежедневный торговый оборот рынка составил от 5 до 7 трлн. долларов.
        </p>
        </div>
        <picture class="what-is__box-image">
          <source media="(max-width: 767px)" srcset="img/content/what-is__mobile--sm.png">
          <source media="(min-width: 768px)" srcset="img/content/what-is__mobile.png">
          <img src="img/content/what-is__mobile.png">
         </picture>

      </div>


      <div class="what-is__box ">
        <div class="what-is__box-textcontent">
          <p class="what-is__text">Форекс торговля является отличным способом заработка на инвестициях, так как товаром в данном случае выступает валюта, не теряющая свою ценность.  На сегодняшний день любой желающий имеет возможность стать инвестором, участником рынка и заработать на Форекс.
          </p>
        </div>

        <picture class="what-is__box-image">
          <source media="(max-width: 767px)" srcset="img/content/what-is__mobile2--sm.png">
          <source media="(min-width: 768px)" srcset="img/content/what-is__mobile2.png">
          <img src="img/content/what-is__mobile2.png">
         </picture>


         <div class="what-is__box-textcontent">
          <p class="what-is__text">
            Автоматические торговые системы набирают большую популярность у трейдеров, так как значительно облегчают и упрощают процесс торговли.
          </p>
        </div>

      </div>



    </div>

  </div>

</section>
