<section class="page-menu">
  <div class="container">
    <h2 class="page-menu__title">Оглавление</h2>
    <ul class="page-menu__list">
       <li class="page-menu__list-item"><a href="#" class="page-menu__link" >Наши партнеры</a></li>
       <li class="page-menu__list-item"><a href="#" class="page-menu__link" >Роботы форекс</a></li>
       <li class="page-menu__list-item"><a href="#" class="page-menu__link" >Почему стоит выбрать нас?</a></li>
       <li class="page-menu__list-item"><a href="#" class="page-menu__link" >Вопросы</a></li>
       <li class="page-menu__list-item"><a href="#" class="page-menu__link" >Комментарии</a></li>
    </ul>
  </div>
</section>
