<section class="page-menu">
  <div class="container">

    <div class="page-menu__wrapper">
      <h2 class="page-menu__title">Оглавление</h2>
      <ul class="page-menu__list">
        <li class="page-menu__list-item"><a href="#parteners" class="page-menu__link" >Наши партнеры</a></li>
        <li class="page-menu__list-item"><a href="#what-is" class="page-menu__link" >Что такое рынок Форекс?</a></li>
        <li class="page-menu__list-item"><a href="#types-robots" class="page-menu__link" >Виды торговых роботов Форекс </a></li>

     </ul>

     <ul class="page-menu__list">
       <li class="page-menu__list-item"><a href="#trading" class="page-menu__link" >Торговля на Форекс</a></li>
       <li class="page-menu__list-item"><a href="#advantages" class="page-menu__link" >Преимущества торговых роботов Форекс </a></li>
       <li class="page-menu__list-item"><a href="#faq" class="page-menu__link" >Часто задоваемые вопросы</a></li>
     </ul>

    </div>


  </div>
</section>
