<section class="advantages">
  <div class="container">
    <h2 class="advantages__title">Преимущества торговых роботов Форекс
    </h2>
  <div class="advantages__wrapper">
    <div class="advantages__box">
     <img src="img/content/rocket.png">
      <h2 class="advantages__box-title">Скорость работы
      </h2>
      <p class="advantages__box-text">
        Торговый робот умеет работать с различными финансовыми инструментами одновременно
      </p>
    </div>

    <div class="advantages__box">
      <img src="img/content/time.png">
       <h2 class="advantages__box-title">Экономия времени
       </h2>
       <p class="advantages__box-text">
        Торговый робот умеет работать с различными финансовыми инструментами одновременно
      </p>
     </div>

     <div class="advantages__box">
      <img src="img/content/money.png">
       <h2 class="advantages__box-title">Прибыль

       </h2>
       <p class="advantages__box-text">
        Получение прибыли в краткосрочной и в долгосрочной перспективе       </p>
     </div>

     <div class="advantages__box">
      <img src="img/content/human.png">
       <h2 class="advantages__box-title">Отсутствие человеческого фактора

       </h2>
       <p class="advantages__box-text">
        Под воздействием эмоций многие трейдеры совершают глупые и нелогичные ошибки, робот просто не умеет этого
      </p>
     </div>

  </div>


  </div>
</section>
