<section class="main-banner">
<div class="container main-banner__container">
  <div class="main-banner__text-wrapper">
    <h2 class="main-banner__title">Мы помогли десяткам людей начать инвестировать. Поможем и тебе</h2>
    <p class="main-banner__text">Начни зарабатывать на рынке Форекс
      <span>уже сегодня!</span>
      </p>
  </div>

    <button class="main-banner__btn-mobile">Запросить демо</button>


    <div class="more-info">
      <h2 class="more-info__title">Больше информации?</h2>
      <p class="more-info__text">Оставтье ваше имя и номер телефона, наш менеджер перезвонит вам сразу</p>


      <form class="more-info__form">
        <div class="more-info__input-wrapper">
          <input type="text" placeholder="Имя:" class="more-info__form-input">
          <input type="text" placeholder="Номер телефона:" class="more-info__form-input">
        </div>
        <button class="btn btn--mobile">Связаться с нами</button>
      </form>

      <p class="more-info__text">By submitting this form, you are agreeing to our Terms of Service and Privacy Policy.</p>

      <div class="social-icons">

        <svg class="social-icons__icon">
          <use xlink:href="img/svg/sprite/sprite.svg#vk"></use>
        </svg>
        <svg class="social-icons__icon">
          <use xlink:href="img/svg/sprite/sprite.svg#tm"></use>
        </svg>
        <svg class="social-icons__icon">
          <use xlink:href="img/svg/sprite/sprite.svg#ws"></use>
        </svg>

      </div>

    </div>



</div>






</section>
