<section class="trading">
  <div class="container">
    <div class="trading__wrapper">
      <h2 class="trading__title" >Торговля на Форекс</h2>
      <div class="trading__box">
        <div class="trading__box-textcontent">
          <p class="trading__text">Автоматические торговые системы набирают большую популярность у трейдеров, так как значительно облегчают и упрощают процесс торговли.</p>
        <p class="trading__text">Благодаря долгой и кропотливой работе нашей командой в 2018 году был разработан торговый робот, приносящий стабильный доход от 10 до 30 % в месяц.
        </p>
        <p class="trading__text">Данный торговый робот подключается к вашему торговому терминалу и торгует за Вас в автоматическом режиме по заданным настройкам. Вам лишь остается наблюдать за его работой и получать прибыль.
        </p>
        </div>
        <picture class="trading__box-image">
          <source media="(max-width: 767px)" srcset="img/content/what-is__mobile--sm.png">
          <source media="(min-width: 768px)" srcset="img/content/what-is__mobile.png">
          <img src="img/content/what-is__mobile.png">
         </picture>

      </div>

</div>

  </div>
</section>
