<section class="faq">


  <div class="container">

    <div class="faq__wrapper">
      <h2 class="faq__title">Часто задоваемые вопросы</h2>
      <!-- <div id="accordion" class="accordion" style="max-width: 400px; margin: 0 auto;"> -->
      <div id="accordion" class="accordion" style="margin: 0 auto;">
        <div class="accordion-item show">
          <div class="accordion-item-header">

            В какое время осуществляется торговля?
          </div>
          <div class="accordion-item-content">
            Благодаря тому что Форекс имеет несколько торговых сессий: азиатской, европейской, американской и тихоокеанской, и прекращение торгов на одной торговой площадке компенсируется торгами на другой, торговля на нем ведется круглосуточно 5 дней в неделю с понедельника по пятницу.
          </div>
        </div>

        <div class="accordion-item">
          <div class="accordion-item-header">
            Что такое MetaTrader4?
          </div>
          <div class="accordion-item-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas, corrupti repudiandae ea earum, aspernatur,
            dolores repellat odit sed minus enim dolore sint quaerat aliquam alias iusto illum ipsa rem?
          </div>
        </div>

        <div class="accordion-item">
          <div class="accordion-item-header">
            Надёжен ли брокер Forex4you?
                  </div>
          <div class="accordion-item-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cum pariatur incidunt fugit id repellendus voluptatum,
            odio modi quo eum facere doloribus numquam? Ipsam repudiandae, cumque cupiditate rerum deserunt necessitatibus?
          </div>
        </div>


        <div class="accordion-item">
          <div class="accordion-item-header">
            Какие действия требуется совершать владельцу Робота?
                          </div>
          <div class="accordion-item-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cum pariatur incidunt fugit id repellendus voluptatum,
            odio modi quo eum facere doloribus numquam? Ipsam repudiandae, cumque cupiditate rerum deserunt necessitatibus?
          </div>
        </div>

        <div class="accordion-item">
          <div class="accordion-item-header">
            Что такое форекс робот Alfa Bot?
                                  </div>
          <div class="accordion-item-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cum pariatur incidunt fugit id repellendus voluptatum,
            odio modi quo eum facere doloribus numquam? Ipsam repudiandae, cumque cupiditate rerum deserunt necessitatibus?
          </div>
        </div>
      </div>

    </div>



  </div>
</section>

