.btn {
  background: #1E4BD2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Montserrat-regular';
  color: #FFFFFF;
  border: none;
  margin-bottom:17px;
}

.btn--mobile {
  width: 295px;
  height: 41px;
}


