<section class="comments">
  <div class="container">
    <h2 class="comments__title">Ваши комментарии</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide comments__slide">
          <div class="comments__text">
            «Благодаря вам, у меня куча лайков и подписчиков!) Мне завидуют все подружки, а я не раскрываю секрет;)) Спасибо огромное Вам!»
            <div class="comments__date">25.05.2020</div>

          </div>

          <div class="comments__wrapper">
            <div class="comments__athor">
              <div class="comments__athor-name">Екатерина</div>
              <div class="comments__athor-status">Студентка</div>
            </div>
            <div class="comments__athor-photo"><img src="#"></div>
          </div>
        </div>




        <div class="swiper-slide comments__slide">
          <div class="comments__text">
            «Осторожно отношусь ко всем сервисам для раскрутки, т.к. был негативный опыт, одна SmmTouch действительно безопасен. Сотрудничаем и дальше!»
            <div class="comments__date">25.05.2020</div>
          </div>

          <div class="comments__wrapper">
            <div class="comments__athor">
              <div class="comments__athor-name">Елена</div>
              <div class="comments__athor-status">Упровляющий</div>
            </div>
            <div class="comments__athor-photo"><img src="#"></div>
          </div>



        </div>


        <div class="swiper-slide comments__slide">
          <div class="comments__text">
            «Я очень рад! А дочка сейчас вернется, и она будет счастлива!!! Спасибо большое, буду пользоваться вашим сервисом.»
            <div class="comments__date">25.05.2020</div>
          </div>

          <div class="comments__wrapper">
            <div class="comments__athor">
              <div class="comments__athor-name">Владислав</div>
              <div class="comments__athor-status">Директор</div>
            </div>
            <div class="comments__athor-photo"><img src="#"></div>
          </div>

        </div>


      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
